<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
body {
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 11px;
	color:navy;
}
table {
    border-collapse: collapse;
}
td, th {
	text-align: left;
	padding: 8px;
	border: 1px solid #AAC9E7;
}
tr:hover {
	background-color: #f5f5f5;
}
th {
	background-color: #006080;
	color: white;
}
.ERROR {color: crimson;}
.WARNING {color: darkorange;}
.INFO {color: navy;}
.DEBUG {color: darkgreen;}
</style>
</head>
<body>
<p>Beste {{name}},</p>
<p>
De verwerking van de aangeboden bestanden voor meetnet {{network}} is gereed.
</p>
<h2>Samenvatting</h2>
<table>
<tr><th>Bestand</th><th>Resultaat</th></tr>
{% for key,val in result.items %}
	<tr><td>{{key}}</td><td>{{val}}</td></tr>
{% endfor %}
</table>
<h2>Details</h2>
<table>
<tr><th>Tijd</th><th>Bericht</th></tr>
{% for r in logrecords %}<tr class="{{r.levelname}}"><td>{{r.asctime|slice:":-4"}}</td><td>{{r.message}}</td></tr>{% endfor %}
</table>
<br>
<br>
Met vriendelijke groet,<br>
Acacia Water    
</body>
</html>
